[submodule "stm32-cmake"]
	path = stm32-cmake
	url = https://github.com/ObKo/stm32-cmake.git
[submodule "nuovo progetto/SCarrellino_test/stmlibs"]
	path = nuovo progetto/SCarrellino_test/stmlibs
	url = https://github.com/squadracorsepolito/stmlibs.git
